commit.txt
go.sum
go.mod
tags
bitbox
vendor
.DS_Store
*~
.*.sw*
.\#*
\#*#
log.db
cover.out
/server/fylr
/server/fylr.yml
/website/public
/public
tmpl.go
.idea/
/fylrstore
/commands/server/assets/tmpl.go
.vscode
